.about {
  margin-bottom: 55px;
}

.about__title {
  @include block-title;

  margin-bottom: 27px;
}

.about__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.about__item {
  position: relative;

  margin-bottom: 27px;
  padding-top: 58px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about__item:last-of-type {
  margin-bottom: 0;
}

.about__item::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -5px;

  width: 58px;
  height: 30px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

.about__item--flower::before {
  height: 38px;
  background-image: url("../../img/icon-feature-flower.svg");
}

.about__item--money::before {
  background-image: url("../../img/icon-feature-money.svg");
}

.about__item--heart::before {
  background-image: url("../../img/icon-feature-heart.svg");
}

.about__item--ball::before {
  height: 35px;
  background-image: url("../../img/icon-feature-ball.svg");
}

.about__item--rocket::before {
  background-image: url("../../img/icon-feature-rocket.svg");
}

.about__item--gift::before {
  background-image: url("../../img/icon-feature-gift.svg");
}

@media (min-width: $tablet-width) {
  .about {
    margin-bottom: 25px;
  }

  .about__title {
    margin-bottom: 45px;

    font-size: 43px;
    line-height: 50px;
  }

  .about__item {
    margin-bottom: 55px;
    padding-right: 37px;
    width: 50%;

    font-size: 20px;
    line-height: 22px;

    box-sizing: border-box;

    &--flower {
      order: 0;
    }

    &--ball {
      order: 1;
    }

    &--money {
      order: 2;
    }

    &--rocket {
      order: 3;
    }

    &--heart {
      order: 4;
    }

    &--gift {
      order: 5;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-bottom: 33px;
  }

  .about__title {
    margin-left: 172px;

    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    justify-content: space-between;

    margin-left: 175px;
    width: 668px;
  }

  .about__item {
    padding-right: 0;
    width: 318px;
  }
}
