.btn {
  display: block;
  padding: 16px;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $grey;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
  border: 2px solid $grey;
}

.btn--review,
.btn--contacts,
.btn--form {
  width: 100%;
}


.btn:hover,
.btn:focus {
  background-color: $grey;
  color: #ffffff;
}

.btn:active {
  background-color: $grey;
  color: rgba(255, 255, 255, 0.3);
}


@media (min-width: $tablet-width) {
  .btn--review {
    margin-top: -15px;
    width: 140px;
    order: -1;
  }

  .btn--form {
    width: 230px;
  }
}
