.btn {
  display: block;
  padding: 16px;

  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $grey;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
  border: 2px solid $grey;
}

.btn--review,
.btn--contacts {
  width: 100%;
}


@media (min-width: $tablet-width) {
  .btn--review {
    width: 175px;
    order: -1;
  }
}
