.btn {
  display: block;
  padding: 17px;

  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $grey;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
  border: 2px solid $grey;
}
