.catalog {
  padding-top: 8px;
}

.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 60px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    border: 1px solid #ececec;
  }
}
