.form__row {
  margin-bottom: 25px;
}

.form__title {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $green;

  text-transform: uppercase;
}

.form__list {
  @include list-reset;
}

.form__item {
  margin-bottom: 25px;
}

.form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form__info {
  font-size: 14px;
  line-height: 16px;
}
