.order {
  margin-bottom: 55px;
}

.order__info {
  margin: 0;
  margin-bottom: 24px;
  width: 260px;

  font-size: 13px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .order__info {
    margin-bottom: 8px;
    width: 668px;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__info {
    margin-left: 175px;
    width: 670px;
  }
}
