.page-header {
  border-bottom: 1px solid $light-grey;

  z-index: 2;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;
}

.page-header__logo {
  display: block;
  margin: 17px auto;
  margin-top: 20px;

  z-index: 3;

  @include link;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 88px;
  }

  .page-header__wrapper {
    width: 668px;
  }

  .page-header__logo {
    margin: 0;
    margin-right: auto;
    margin-top: -65px;
    margin-bottom: 14px;

    width: 115px;
    height: 50px;

    order: 2;
  }

  .page-header__img {
    width: 115px;
    height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    min-height: 88px;
  }

  .page-header__wrapper {
    width: 1050px;
  }

  .page-header__logo {
    margin: 0 auto;
    margin-top: -80px;

    width: 148px;
    height: 73px;

    order: 2;
  }

  .page-header__img {
    width: 148px;
    height: 73px;
  }
}
