.process {
  margin-bottom: 60px;
}

.process__title {
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .process__wrapper {
    display: flex;
    flex-direction: column;
  }

  .process__title {
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 65px;
    width: 586px;

    font-size: 20px;
  }

  .process__video {
    width: 668px;
    height: 456px;

    order: -1;
  }

  .process__row {
    margin: 0 auto;
    width: 586px;
  }

  .process__info {
    margin: 0;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .process__wrapper {
    min-height: 456px;
    border: 1px solid #ececec;
  }

  .process__video {
    margin-bottom: -420px;
  }

  .process__title {
    margin: 0;
    margin-left: auto;
    margin-right: 110px;
    padding-left: 0;
    padding-top: 55px;
    width: 150px;
    height: 105px;
  }

  .process__row {
    margin: 0;
    margin-left: auto;
    margin-right: 30px;
    width: 230px;
  }
}
