.product {
  margin-bottom: 32px;

  border: 1px solid #ececec;
}

.product:hover,
.product:focus {
  box-shadow: 0 6px 10px 0 #ececec;
}

.product:active {
  box-shadow: 0 3px 5px 0 #ececec;
}

.product__img-link {
  display: block;
  margin: 0;
  padding: 0;
}

.product__wrapper {
  margin: 0 auto;
  margin-top: 20px;
  width: 205px;
}

.product__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.product:hover .product__title,
.product:focus .product__title {
  opacity: 0.6;
}

.product:active .product__title {
  opacity: 0.3;
}

.product__info {
  margin: 0;
  margin-bottom: 17px;
  padding-bottom: 5px;
  font-size: 13px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 700;

  border-top: 1px solid $light-grey;
}

.product__svg {
  opacity: 0.2;
}

.product:hover .product__svg,
.product:focus .product__svg {
  fill: $dark-green;
  opacity: 1;
}

.product:active .product__svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;

    margin-bottom: 52px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .product__wrapper {
    display: flex;
    flex-direction: column;

    margin-top: 25px;
    width: 270px;
  }

  .product__img {
    width: 334px;
    height: auto;
  }

  .product__img-link {
    width: 334px;
    height: 334px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__info {
    font-size: 15px;
  }

  .product__price {
    margin-top: auto;
    padding-bottom: 30px;
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;

    margin-bottom: 0;
    padding-bottom: 0;

    min-height: 659px;

    box-shadow: none;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .product__img-link {
    margin-bottom: 25px;

    width: 316px;
    height: 462px;
  }

  .product__img {
    width: 316px;
    height: auto;
  }

  .product__wrapper {
    margin: 0 auto;
    width: 256px;
    min-height: 165px;
  }

  .product__title {
    padding-right: 20px;
  }

  .product__info {
    min-height: auto;
    padding-bottom: 0;
  }

  .product__price {
    padding-bottom: 22px;
  }
}
