.product {
  margin-bottom: 30px;

  box-shadow: $block-shadow;
}

.product__wrapper {
  margin-top: 30px;
}

.product__title {
  margin: 0;

  font-size: 17px;
  font-weight: 700;
  color: #000000;
}

.product__info {
  font-size: 13px;

  box-shadow: $block-shadow;
}

.product__price {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
  }

  .product__wrapper {
    margin-left: 25px;
  }

  .product__img {
    width: 334px;
    height: 334px;
  }

  .product__title {
    font-size: 20px;
  }

  .product__info {
    min-height: 200px;
    font-size: 15px;
  }

  .product__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;

    box-shadow: none;
  }

  .product__wrapper {
    margin: 0 auto;
    margin-top: 30px;
    width: 260px;
  }

  .product__img {
    width: 315px;
    height: 464px;
  }

  .product__info {
    min-height: auto;
  }
}
