.promo {
  margin-bottom: 43px;
}

.promo__title-wrapper {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: 26px;
}

.promo__title {
  @include block-title;

  margin-bottom: 6px;
  width: 100%;
}

.promo__name {
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  color: $green;

  text-transform: uppercase;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promo__column {
  margin-bottom: 27px;
  width: 100%;
}

.promo__properties {
  width: 100%;
}

.promo__info {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.promo__item {
  padding-top: 6px;
  padding-bottom: 8px;

  border-bottom: 1px solid $light-grey;
}

.promo__item:last-of-type {
  padding-left: 16px;
}

.promo__image {
  margin-bottom: 24px;
}

.promo__price {
  margin: 0;
  margin-bottom: 26px;

  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 50px;
  }

  .promo__wrapper {
    padding-bottom: 38px;
  }

  .promo__title-wrapper {
    justify-content: space-between;
    align-items: center;

    margin-bottom: 45px;
  }

  .promo__title {
    width: 450px;

    font-size: 43px;
    line-height: 45px;
  }

  .promo__name {
    margin-right: 25px;
    width: 75px;

    text-align: center;
  }

  .promo__column {
    width: 291px;
  }

  .promo__column--price {
    margin-top: -140px;
  }

  .promo__info {
    margin-bottom: 38px;

    font-size: 17px;
    line-height: 30px;
  }

  .promo__item:last-of-type {
    padding-left: 0;
  }

  .promo__image {
    margin-top: 8px;

    height: 405px;
    width: auto;
  }

  .promo__price {
    margin-bottom: 35px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 60px;
  }

  .promo__wrapper {
    padding-bottom: 65px;
  }

  .promo__title-wrapper {
    flex-direction: row-reverse;

    margin-top: 65px;
    width: 700px;
  }

  .promo__title {
    width: 530px;
    font-size: 53px;
    line-height: 57px;
  }

  .promo__column {
    margin-left: 175px;
  }

  .promo__info {
    margin-bottom: 48px;
  }

  .promo__item {
    padding-bottom: 10px;
  }

  .promo__name {
    margin: 0 auto;
  }

  .promo__image-wrapper {
    z-index: -1;
  }

  .promo__image {
    margin-top: -160px;
    height: 637px;
  }
}
