@media (min-width: $tablet-width) {
  .user-nav {
    order: 2;
    margin-left: auto;

    display: flex;
    justify-content: flex-end;
  }

  .user-nav__item {
    margin-left: 15px;
    padding: 10px;
  }
}

@media (min-width: $desktop-width) {
  .user-nav {
    order: 3;

    display: flex;
    justify-content: flex-end;
  }

  .user-nav__item {
    margin-left: 15px;
    padding: 10px;
  }
}
